<html>

    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "stylesheets/UserDashboard.css" %}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>        
        <script src="{% static "js/UserDashboard.js" %}" type="text/javascript"></script>
    </head>

    <body>

        <div id="DashboardPanel">

            <a href="/"><div id="Logo"></div>Logo</a>
            <a href="/UserDashboard/"><div id="Dashboard">Dashboard</div></a>
            <a href="/UserDashboard/Templates/"><div id="Templates">Templates</div></a>
            <a href="/UserDashboard/Sent/"><div id="Sent">Sent</div></a>
            <a href="/UserDashboard/Received/"><div id="Received">Received</div></a>
            <a href="/UserDashboard/Drafts/"><div id="Drafts">Drafts</div></a>
            <a href="/UserDashboard/Completed/"><div id="Completed">Completed</div></a>

        </div>

        <div id="View">

            <div id="DocumentsSent">Documents Sent {{ documentsSent }}</div>
            <div id="DocumentsReceived">Documents Received {{ documentsReceived }}</div>
            <div id="ActiveSent">Active Documents Sent {{ activeSent }}</div>
            <div id="ActiveReceived">Ready To Sign {{ activeReceived }}</div>
            <button id="AddDocument">Add Document</button>
        

            <div id="addDocumentSettings">

                <img id="selectImportDocument">
                <img id="selectFullTemplate">
                <img id="selectBoxedTemplate">

                <div id="uploadFileDiv">
                    <form action="/ManageDocument/Upload/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="CreateDocument">
                    </form>
                </div>

            </div>

        </div>

    </body>
</html>